body{
    margin: 0;
    padding: 0;
    background: url(./neon_background.jpg);
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    min-height: 420px;
    background: #272727;
    color: #bb86fc;
    top: 50%;
    left: 50%;
    border: 3px solid #bb86fc;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.signupbox{
    width: 640px;
    min-height: 550px;
    background: #272727;
    color: #bb86fc;
    border: 3px solid #bb86fc;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox:hover, .signupbox:hover 
{ 

    box-shadow: 0 2px 20px 0 #bb86fc inset, 0 2px 20px 0 #bb86fc,
                0 2px 20px 0 #bb86fc inset, 0 2px 20px 0 #bb86fc;
    transition: 1s;
}

table.signuptable {
    border-collapse: separate;
    border-spacing: 20px 0px;
  }
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p, .signupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:#bb86fc;
}

.loginbox input, .signupbox input{
    width: 100%;
    margin-bottom: 20px;
}


input[type="email"], input[type="password"], input[type="text"]
{
    border: none;
    border-bottom: 1px solid #bb86fc;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.neon-button
{
    position: relative;
    text-align: center;
    width: 200px;
    padding:10px;
    margin:auto;
    margin-bottom: 5px;
    font-size: 20px;
    color:#bb86fc;
    font-family:poppins;
    font-weight: 400;
    border: 2px solid #bb86fc;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-radius: 80px;
    transition: 1s;
}

.button-container{
    width:100%;
}

.button
{
    text-align: center;
    width: 140px;
    padding:5px;
    margin:auto;
    margin-bottom: 5px;
    font-size: 15px;
    color:#bb86fc;
    font-family:poppins;
    font-weight: 400;
    border: 2px solid #bb86fc;
    text-transform: uppercase;
    border-radius: 80px;
}
.neon-button:hover{
    box-shadow: 0 2px 10px 0 #bb86fc inset, 0 2px 10px 0 #bb86fc,
                0 2px 10px 0 #bb86fc inset, 0 2px 10px 0 #bb86fc;
    text-shadow: 0 0 5px #bb86fc,0 0 5px #bb86fc;
}

input[type=submit]{
    color: inherit;
    font:inherit;
    text-decoration: none;
    background: none;
    border:none;
    padding: 0;
    outline:inherit;
    margin-bottom: 0px;
}

input[type=submit]:hover 
{ 
     text-decoration:none; 
     transition: 1s;
     text-shadow: 0 0 5px #bb86fc,0 0 5px #bb86fc;
}




.button a{
    color: inherit;
    text-decoration: none;
}

.button a:hover{
    text-decoration:none; 
    color: inherit;
    transition: 1s;
    text-shadow: 0 0 5px #bb86fc,0 0 5px #bb86fc;
}
a
{
    text-decoration:none;
    color:#bb86fc;
}

a:hover{
    text-decoration:none; 
    color: #bb86fc;
    transition: 1s;
    text-shadow: 0 0 5px #bb86fc,0 0 5px #bb86fc;
}


.signuptable{
    width:600px;
    margin:auto;
}
