html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    max-width: 100%;
    overflow-x: hidden;
    background-color:#121212;
    height: 100%;
}

div.main{
    padding:5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:#121212;
    min-height: 100%;
}

div.second{
    background-color:#121212;
    min-height: 100%;
    padding:20px;
}

li{
    font-size:19px;

}

li li{
    font-size:16px
}
.category{
    grid-column-start: 1;
    grid-column-end: 5;
    padding-bottom:30px;
    display:flex;
    justify-content:space-between;
    padding-right: 6%;
}

.card{
    margin-bottom:50px;
    border: none;
}

.card-body{
    min-height:190px;
    position: relative;
}

#button-div{
    position: absolute;
    bottom: 0px;
    padding: 10px 0px 10px 5px;
}

#hotlinks{
    margin-left: 700px;
}

form.d-flex{
    margin-bottom: 0px;
    width:400px;
}


.centerthis{
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
}
input[type=text], input[type=email], input[type=password],input[type=tel],input[type=number]{
    font-family: inherit;
    color: white;
    background-color: #121212;
    border-radius: 80px;
    width: 60%;
    font-size: 20px;
    border: 2px solid #bb86fc;
    text-align: center;
    padding:0.5vw;
}
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=tel]:hover{
    box-shadow: 0 2px 10px 0 #bb86fc inset, 0 2px 10px 0 #bb86fc,
                0 2px 10px 0 #bb86fc inset, 0 2px 10px 0 #bb86fc;
}

input:focus{
    outline:none;
}

#editprofile td, #viewprofile td{
    text-align: center;
}


textarea{
    height: 10vw;
}
.neon-button
{
    position: relative;
    text-align: center;
    width: 200px;
    padding:10px;
    margin:auto;
    margin-bottom: 5px;
    font-size: 20px;
    color:#bb86fc;
    font-family:poppins;
    font-weight: 400;
    border: 2px solid #bb86fc;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-radius: 80px;
    transition: 1s;
}

.button-container{
    width:100%;
}

.button
{
    text-align: center;
    width: 140px;
    padding:5px;
    margin:auto;
    margin-bottom: 5px;
    font-size: 15px;
    color:#bb86fc;
    font-family:poppins;
    font-weight: 400;
    border: 2px solid #bb86fc;
    text-transform: uppercase;
    border-radius: 80px;
}
.neon-button:hover{
    box-shadow: 0 2px 10px 0 #bb86fc inset, 0 2px 10px 0 #bb86fc,
                0 2px 10px 0 #bb86fc inset, 0 2px 10px 0 #bb86fc;
    text-shadow: 0 0 5px #bb86fc,0 0 5px #bb86fc;
}

input[type=submit]{
    color: inherit;
    font:inherit;
    text-decoration: none;
    background: none;
    border:none;
    padding: 0;
    outline:inherit;
}

.button a{
    color: inherit;
    text-decoration: none;
}

.button a:hover{
    text-decoration:none; 
    color: inherit;
    transition: 1s;
    text-shadow: 0 0 5px #bb86fc,0 0 5px #bb86fc;
}

a:hover{
    text-decoration:none; 
    color:#bb86fc;
}

.nav-item:hover{
color:#bb86fc;
}


input[type=submit]:hover 
{ 
     text-decoration:none; 
     transition: 1s;
     text-shadow: 0 0 5px #bb86fc,0 0 5px #bb86fc;
}
table{
    width: 100%;
    font-size: 1.4vw;
}
th{
    border: 1px solid rgba(187, 203, 207, 0.589);
    border-radius: 0.2vw;
    padding: 1vw;
    text-align: center;
}
td{
    border: 1px solid rgba(187, 203, 207, 0.589);
    border-radius: 0.2vw;
    padding:1vw;
    text-align: left;
    word-wrap: break-word;
}
td a{
    text-decoration: none;
    color:white;
}
pre{
  font-size: 1.4vw;
  font-family: inherit;
}
a{
  text-decoration:none;
  color:white;
}
