{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block style %}style="margin-left:1100px;"{% endblock %}
{% block body %}
<div class="second">
  <h2>{{pname}}</h2>
  <form action="" method="POST">
    <table class="table table-dark table table-striped">
      <tr>
        <td>CATEGORY :</td><td>{{category}}</td>
      </tr>
      <tr>
        <td>DESCRIPTION :</td><td><pre>{{desp}}</pre></td>
      </tr>
      <tr>
        <td>QUANTITY (select quantity):</td><td><input type="number" name="qty" value="1" min="1" max='{{quantity}}'></td>
      </tr>
      <tr>
        <td>PRICE/UNIT :</td><td>₹ {{price}}</td>
      </tr>
    </table>
    <div class="button-container">
    <div class="neon-button">
    <input type="submit" value="PROCEED">
    </div>
  </div>
  </form>
</div>
{% endblock %}
