{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block style %}style="margin-left:1100px;"{% endblock %}
{% block body %}
<div class="second">
  <h2>Change Password</h2>
  {% if not check %}
    <p>Current Password doesn't match the record</p>
  {% endif %}
  {% if not equal %}
    <p>New Password fields don't match, enter correctly</p>
  {% endif %}
  <form action="" method="POST">
    <table class="table table-dark table table-striped">
      <tr>
        <td>CURRENT PASSWORD :</td><td><input type="password" name="old_psswd"></td>
      </tr>
      <tr>
        <td>NEW PASSWORD :</td><td><input type="password" name="new_psswd"></td>
      </tr>
      <tr>
        <td>CONFIRM NEW PASSWORD :</td><td><input type="password" name="cnfrm_psswd"></td>
      </tr>
    </table>
    <div class="neon-button" style="width:210px;">
    <input type="submit" value="Set New Password">
    </div>
  </form>
</div>
{% endblock %}
