{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block style %}style="margin-left:1100px;"{% endblock %}
{% block body %}
<div class="second" style="margin:auto">
  <div style="width: 800px; margin:auto; padding-top: 50px;">
  <h2>Edit Profile</h2>
  <form action="" method="POST" onsubmit="return validateForm2()">
  <table class="table table-dark table table-striped">
    <tr>
      <td>Email :</td><td>{{email}}</td>
    </tr>
    <tr>
      <td>Name :</td><td><input type="text" name="name" value="{{name}}" id="name"></td>
    </tr>
    <tr>
      <td>PHONE :</td><td><input type="tel" name="phone" value="{{phone}}" id="phone"></td>
    </tr>
    <tr>
      <td><b>Address :</b></td><td><input type="text" name="address" value="{{address}}" id="address"></td>
    </tr>
    <tr>
      <td>City :</td><td><input type="text" name="city" value="{{city}}" class="place"></td>
    </tr>
    <tr>
      <td>State :</td><td><input type="text" name="state" value="{{state}}" class="place"></td>
    </tr>
  </table>
  <div class="neon-button">
  <input type="submit" value="Save Changes">
  </div>
</form>
</div>
</div>
{% endblock %}
