{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block style %}style="margin-left:1100px;"{% endblock %}
{% block body %}
<div class="second">
<h2>My Cart</h2>
{% if cart|length==0 %}
<p>Your Cart is empty right now. <a href="/">Click here to Shop for products</a></p>
{% else %}
<form action="" method="POST">
  <table class="table table-dark table table-striped">
    <tr>
      <th>SNO.</th><th>PRODUCT</th><th>PRICE (PER UNIT)</th><th>QUANTITY</th><th></th>
    </tr>
  {% set cnt={'val':1} %}
  {% for item in cart %}
  <tr>
    <td>{{cnt['val']}}</td><td><a href="/viewproduct/{{item[0]}}">{{item[1]}}</a></td><td>₹ {{item[2]}}</td>
    <td><input name="qty{{item[0]}}" type="number" value="{{item[3]}}" min="1" max="{{item[4]}}" required></td>
    <td><p class="press"><a href="/buy/cart/delete/{{item[0]}}">REMOVE FROM CART</p></td>
  </tr>
  {%if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
  {% endfor %}
</table>
<div class="button" style="margin:5px;">
<a href="/buy/cart/delete">EMPTY CART</a>
</div>
<div class="neon-button" style="width:210px;">
<input type="submit" value="PROCEED TO ORDER">
</div>
{% endif %}
</form>
{% if rec_items|length > 0 %}
  <h2>Recommended Items</h2>
  <table class="table table-dark table table-striped">
    <tr>
      <th>SNo.</th><th>Name</th>
      <th>Category</th><th>Price</th><th></th>
    </tr>
    {% set cnt={'val':1} %}
    {% for i in rec_items %}
    <tr>
      <td>{{cnt['val']}}</td> <td>{{i[1]}}</td>  <td>{{i[2]}}</td> <td>₹ {{i[3]}}</td>
      <td><a href="/viewproduct/{{i[0]}}">View</a></td>
    </tr>
    {% if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
    {% endfor %}
  </table>
{% endif %}
</div>
{% endblock %}