<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
  <!--<link rel="stylesheet" href="../static/login.css">-->
</head>
<body>
  <div class="loginbox" style="text-align: center;">
    <img src="../static/avatar_neon.jpg" class="avatar">
    <h3>Successful Signup</h3>
    <p>Account created successfully. &nbsp <a href="/login/">click here to login</a></p>
  </div>
  </body>
</html>
