{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block style %}style="margin-left:1100px;"{% endblock %}
{% block body %}
      <div class="second">
        <h2>Product Information</h2>
        <table class="table table-dark table table-striped">
            <tr>
                <td>Name :</td><td>{{pname}}</td>
            </tr>
            <tr>
                <td>In Stock :</td><td>{{quantity}}</td>
            </tr>
            <tr>
                <td>Category :</td><td>{{category}}</td>
            </tr>
            <tr>
                <td>Price :</td>
                <td>₹ {{sell_price}}</td>
            </tr>
            <tr>
                <td>Sold By :</td><td><a href="" target="blank">{{sell_name}}</a></td>
            </tr>
            <tr>
              <td>About :</td><td><pre>{{desp}}</pre></td>
            </tr>
        </table>
        <div class="centerthis">
          <div class="button-container">
          <div class="button">
          <a href="/buy/{{prod_id}}">Buy Product</a>
          </div>
          </div>
          <div class="button-container">
          <div class="button">
          <a href="/buy/cart/{{prod_id}}">Add to Cart</a>
          </div>
          </div>
        </div>

        <h2>Recommended Items</h2>
        <table class="table table-dark table table-striped">
          <tr>
            <th>SNo.</th><th>Name</th>
            <th>Category</th><th>Price</th><th></th>
          </tr>
          {% set cnt={'val':1} %}
          {% for i in rec_items %}
          <tr>
            <td>{{cnt['val']}}</td> <td>{{i[1]}}</td>  <td>{{i[2]}}</td> <td>₹ {{i[3]}}</td>
           <td><a href="/viewproduct/{{i[0]}}">View</a></td>
          </tr>
          {% if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
          {% endfor %}
        </table>
      </div>
{% endblock %}
