{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block style %}style="margin-left:1100px;"{% endblock %}
{% block body %}
<div class="second" style="margin:auto">
  <div style="width: 800px; margin:auto; padding-top: 50px;">
  <h2 style="padding-bottom: 20px;">User Profile</h2>
  <table class="table table-dark table" id="viewprofile">
    <tr>
      <td>Name:</td><td>{{name}}</td>
    </tr>
    <tr>
      <td>Email:</td><td>{{email}}</td>
    </tr>
    <tr>
      <td>Phone:</td><td>{{phone}}</td>
    </tr>
    <tr>
      <td>Address:</td><td>{{address}}</td>
    </tr>
    <tr>
      <td>City:</td><td>{{city}}</td>
    </tr>
    <tr>
      <td>State:</td><td>{{state}}</td>
    </tr>
  </table>
  {% if my %}
  <div class="button">
  <a href="/editprofile/">Edit Profile</a>
  </div>
  <div class="button">
  <a href="/changepassword">Change Password</a>
  </div>
</div>
</div>  
  {% endif %}
{% endblock %}
